<a href="https://colab.research.google.com/github/Akshatahadambar/Rain-Prediction/blob/main/Rain_Prediction_DL_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as snd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [11]:
df = pd.read_csv("/content/weatherAUS.csv")

In [12]:
df.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday RainTomorrow
0  01-12-2008   Albury     13.4  ...     21.8         No           No
1  02-12-2008   Albury      7.4  ...     24.3         No           No
2  03-12-2008   Albury     12.9  ...     23.2         No           No
3  04-12-2008   Albury      9.2  ...     26.5         No           No
4  05-12-2008   Albury     17.5  ...     29.7         No           No

[5 rows x 23 columns]

In [13]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32675 entries, 0 to 32674
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           32675 non-null  object
 1   Location       32675 non-null  object
 2   MinTemp        31834 non-null  float64
 3   MaxTemp        32065 non-null  float64
 4   Rainfall       31807 non-null  float64
 5   Evaporation    10365 non-null  object
 6   Sunshine       7367 non-null   object
 7   WindGustDir    25494 non-null  object
 8   WindGustSpeed  25498 non-null  float64
 9   WindDir9am     27737 non-null  object
 10  WindDir3pm     29082 non-null  object
 11  WindSpeed9am   31332 non-null  float64
 12  WindSpeed3pm   29970 non-null  float64
 13  Humidity9am    31885 non-null  float64
 14  Humidity3pm    30501 non-null  float64
 15  Pressure9am    25705 non-null  float64
 16  Pressure3pm    25717 non-null  float64
 17  Cloud9am       18350 non-null  float64
 18  Cloud3pm       17523 non-null  float64
 19  Temp9am        32037 non-null  float64
 20  Temp3pm        30663 non-null  float64
 21  RainToday      31806 non-null  object
 22  RainTomorrow   31806 non-null  object
dtypes: float64(14), object(9)
memory usage: 5.7+ MB

In [15]:
df.drop(["Evaporation","Sunshine","Cloud9am","Cloud3pm","Location"], 
        inplace= True, axis =1)
df = df.dropna()

In [16]:
df.head(6)

         Date  MinTemp  MaxTemp  ...  Temp3pm RainToday  RainTomorrow
0  01-12-2008     13.4     22.9  ...     21.8        No            No
1  02-12-2008      7.4     25.1  ...     24.3        No            No
2  03-12-2008     12.9     25.7  ...     23.2        No            No
3  04-12-2008      9.2     28.0  ...     26.5        No            No
4  05-12-2008     17.5     32.3  ...     29.7        No            No
5  06-12-2008     14.6     29.7  ...     28.9        No            No

[6 rows x 18 columns]

In [17]:
df = df.dropna(axis=0,how="any")

In [18]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
print(X)
print(y)

[['01-12-2008' 13.4 22.9 ... 16.9 21.8 'No']
 ['02-12-2008' 7.4 25.1 ... 17.2 24.3 'No']
 ['03-12-2008' 12.9 25.7 ... 21.0 23.2 'No']
 ...
 ['22-07-2010' 15.5 19.5 ... 17.7 18.3 'Yes']
 ['23-07-2010' 15.5 18.9 ... 16.9 17.0 'No']
 ['24-07-2010' 13.9 17.8 ... 15.7 16.5 'No']]
['No' 'No' 'No' ... 'No' 'No' 'No']

In [19]:
X[0]

array(['01-12-2008', 13.4, 22.9, 0.6, 'W', 44.0, 'W', 'WNW', 20.0, 24.0,
       71.0, 22.0, 1007.7, 1007.1, 16.9, 21.8, 'No'], dtype=object)

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,0] = le.fit_transform(X[:,0])
X[:,4] = le.fit_transform(X[:,4])
X[:,6] = le.fit_transform(X[:,6])
X[:,7] = le.fit_transform(X[:,7])
X[:,-1] = le.fit_transform(X[:,-1])
y = le.fit_transform(y)
print(X[0])

[92 13.4 22.9 0.6 13 44.0 13 14 20.0 24.0 71.0 22.0 1007.7 1007.1 16.9
 21.8 0]

In [21]:
y = le.fit_transform(y)
import tensorflow as tf

In [22]:
y = tf.keras.utils.to_categorical(y)

In [23]:
print(X.shape)
print(y.shape)

(23025, 17)
(23025, 2)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [27]:
import numpy as np
X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [28]:
X_train.shape

(18420, 17)

In [29]:
adam = tf.keras.optimizers.Adam(lr = 1e-4, decay = 1e-4/50)

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Input(shape=(17,)))
model.add(tf.keras.layers.Dense(units = 1024,
                activation = 'relu'))

model.add(tf.keras.layers.Dropout(0.1))

model.add(tf.keras.layers.Dense(units = 1024/4,
                activation = 'relu'))

model.add(tf.keras.layers.Dropout(0.1))

model.add(tf.keras.layers.Dense(units = 64,
                activation = 'relu'))

model.add(tf.keras.layers.Dense(units = 2,
                activation = 'sigmoid'))

model.compile(optimizer=adam, 
              loss = 'binary_crossentropy', 
              metrics = ['acc'])

In [30]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1024)              18432
_________________________________________________________________
dropout (Dropout)            (None, 1024)              0
_________________________________________________________________
dense_1 (Dense)              (None, 256)               262400
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_2 (Dense)              (None, 64)                16448
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 130
=================================================================
Total params: 297,410
Trainable params: 297,410
Non-trainable params: 0
_________________________________________________________________

In [31]:
model.fit(X_train, y_train, 
          validation_data=(X_test, y_test), epochs = 50)

Epoch 1/50
576/576 [==============================] - 6s 9ms/step - loss: 2.2588 - acc: 0.7649 - val_loss: 0.5296 - val_acc: 0.7831
Epoch 2/50
576/576 [==============================] - 5s 9ms/step - loss: 0.5563 - acc: 0.7867 - val_loss: 0.5175 - val_acc: 0.7831
Epoch 3/50
576/576 [==============================] - 5s 9ms/step - loss: 0.5282 - acc: 0.7879 - val_loss: 0.5138 - val_acc: 0.7831
Epoch 4/50
576/576 [==============================] - 5s 9ms/step - loss: 0.5136 - acc: 0.7887 - val_loss: 0.4994 - val_acc: 0.7831
Epoch 5/50
576/576 [==============================] - 5s 9ms/step - loss: 0.4918 - acc: 0.7888 - val_loss: 0.4510 - val_acc: 0.7831
Epoch 6/50
576/576 [==============================] - 5s 9ms/step - loss: 0.4519 - acc: 0.7892 - val_loss: 0.4115 - val_acc: 0.7831
Epoch 7/50
576/576 [==============================] - 5s 9ms/step - loss: 0.4296 - acc: 0.7895 - val_loss: 0.4156 - val_acc: 0.7831
Epoch 8/50
576/576 [==============================] - 5s 9ms/step - loss: 0.4159 - acc: 0.7982 - val_loss: 0.3974 - val_acc: 0.8308
Epoch 9/50
576/576 [==============================] - 5s 9ms/step - loss: 0.4101 - acc: 0.8230 - val_loss: 0.4172 - val_acc: 0.8156
Epoch 10/50
576/576 [==============================] - 5s 9ms/step - loss: 0.4005 - acc: 0.8258 - val_loss: 0.3942 - val_acc: 0.8317
Epoch 11/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3998 - acc: 0.8262 - val_loss: 0.3904 - val_acc: 0.8293
Epoch 12/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3965 - acc: 0.8278 - val_loss: 0.3851 - val_acc: 0.8250
Epoch 13/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3884 - acc: 0.8284 - val_loss: 0.4000 - val_acc: 0.8280
Epoch 14/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3837 - acc: 0.8338 - val_loss: 0.3886 - val_acc: 0.8324
Epoch 15/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3801 - acc: 0.8352 - val_loss: 0.3776 - val_acc: 0.8360
Epoch 16/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3788 - acc: 0.8358 - val_loss: 0.3763 - val_acc: 0.8365
Epoch 17/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3757 - acc: 0.8407 - val_loss: 0.3743 - val_acc: 0.8380
Epoch 18/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3755 - acc: 0.8385 - val_loss: 0.3820 - val_acc: 0.8337
Epoch 19/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3707 - acc: 0.8411 - val_loss: 0.3811 - val_acc: 0.8360
Epoch 20/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3710 - acc: 0.8407 - val_loss: 0.3779 - val_acc: 0.8321
Epoch 21/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3702 - acc: 0.8415 - val_loss: 0.3742 - val_acc: 0.8363
Epoch 22/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3692 - acc: 0.8436 - val_loss: 0.3700 - val_acc: 0.8367
Epoch 23/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3658 - acc: 0.8456 - val_loss: 0.3706 - val_acc: 0.8380
Epoch 24/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3660 - acc: 0.8446 - val_loss: 0.3726 - val_acc: 0.8404
Epoch 25/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3643 - acc: 0.8473 - val_loss: 0.3683 - val_acc: 0.8358
Epoch 26/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3638 - acc: 0.8470 - val_loss: 0.3678 - val_acc: 0.8402
Epoch 27/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3628 - acc: 0.8471 - val_loss: 0.3705 - val_acc: 0.8391
Epoch 28/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3629 - acc: 0.8467 - val_loss: 0.3674 - val_acc: 0.8389
Epoch 29/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3622 - acc: 0.8475 - val_loss: 0.3678 - val_acc: 0.8397
Epoch 30/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3603 - acc: 0.8461 - val_loss: 0.3662 - val_acc: 0.8432
Epoch 31/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3613 - acc: 0.8472 - val_loss: 0.3693 - val_acc: 0.8417
Epoch 32/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3609 - acc: 0.8461 - val_loss: 0.3620 - val_acc: 0.8408
Epoch 33/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3603 - acc: 0.8466 - val_loss: 0.3622 - val_acc: 0.8413
Epoch 34/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3577 - acc: 0.8486 - val_loss: 0.3616 - val_acc: 0.8434
Epoch 35/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3575 - acc: 0.8486 - val_loss: 0.3609 - val_acc: 0.8402
Epoch 36/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3571 - acc: 0.8476 - val_loss: 0.3598 - val_acc: 0.8404
Epoch 37/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3566 - acc: 0.8487 - val_loss: 0.3704 - val_acc: 0.8410
Epoch 38/50
576/576 [==============================] - 6s 10ms/step - loss: 0.3558 - acc: 0.8499 - val_loss: 0.3668 - val_acc: 0.8423
Epoch 39/50
576/576 [==============================] - 5s 10ms/step - loss: 0.3568 - acc: 0.8479 - val_loss: 0.3616 - val_acc: 0.8436
Epoch 40/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3541 - acc: 0.8490 - val_loss: 0.3615 - val_acc: 0.8430
Epoch 41/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3554 - acc: 0.8507 - val_loss: 0.3600 - val_acc: 0.8445
Epoch 42/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3542 - acc: 0.8499 - val_loss: 0.3591 - val_acc: 0.8430
Epoch 43/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3542 - acc: 0.8514 - val_loss: 0.3585 - val_acc: 0.8445
Epoch 44/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3537 - acc: 0.8484 - val_loss: 0.3610 - val_acc: 0.8426
Epoch 45/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3537 - acc: 0.8499 - val_loss: 0.3580 - val_acc: 0.8430
Epoch 46/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3533 - acc: 0.8508 - val_loss: 0.3592 - val_acc: 0.8434
Epoch 47/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3529 - acc: 0.8517 - val_loss: 0.3594 - val_acc: 0.8456
Epoch 48/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3527 - acc: 0.8499 - val_loss: 0.3635 - val_acc: 0.8415
Epoch 49/50
576/576 [==============================] - 6s 10ms/step - loss: 0.3522 - acc: 0.8512 - val_loss: 0.3582 - val_acc: 0.8419
Epoch 50/50
576/576 [==============================] - 5s 9ms/step - loss: 0.3510 - acc: 0.8524 - val_loss: 0.3779 - val_acc: 0.8363